<style>
    .card {
        margin-top: 1.0rem;
        font-size: 10pt;
        font-family: Segoe UI, Verdana, sans-serif;
        width: 50%;
        float: left;
    }

    .regards {
        margin-bottom: 0.9rem;
        font-size: 0.9rem;
    }

    .light {
        color: rgb(129, 128, 121)
    }

    .lighter {
        color: rgba(129, 128, 121, 0.8)
    }

    .pipe {
        color: rgb(0, 102, 158);
        margin: 0 0.5rem;
    }

    .senderdetails_left {
        float: left;
        padding-right: 0.9rem;
        border-right: 1px solid rgb(129, 128, 121);
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    .senderdetails_right {
        float: left;
        margin-left: 0.9rem;
        font-size: 0.9rem;
    }

    .sendername {
        font-weight: bold;
        font-size: 1.0rem;
    }

    .logos {
        margin-top: 0.9rem;
        width: 500px;
    }

    .logos span {
        margin: 0 0.5rem;
        height: 100px;
    }

    .partner {
        margin-top: 0.9rem;
    }

    .partner a {
        color: rgb(0, 102, 158);
    }
</style>
<br />
<button (click)="viewExample()">Vis eksempel</button>
<button (click)="edit()">Ny formular</button>
<button (click)="export()">Vis HTML</button>
<br />
<hr>
<div id="editor" class="card" *ngIf="showedit">
    <div style="margin-bottom:0.9rem;font-size: 0.9rem;" class="regards light"></div>
    <span class="senderdetails_left">
        <div class="light">
            <input [(ngModel)]="c.sender_name" size="50" placeholder="Navn">
        </div>
        <div class="light">

            <input [(ngModel)]="c.sender_position_native" size="50" placeholder="Stilling">
        </div>
        <div class="lighter">
            <input [(ngModel)]="c.sender_position_english" size="50" placeholder="Stilling (Engelsk)">
        </div>
        <div class="light">
            <input [(ngModel)]="c.sender_telephone_direct" placeholder="Direkte telefonnummer">
        </div>
        <div class="light">
            <input [(ngModel)]="c.sender_skypeid" size="50" placeholder="Skype ID">
        </div>
    </span>
</div>
<div style="margin-top:1.0rem;font-size: 10pt;font-family: Segoe UI, Verdana, sans-serif;width:50%;float:left;" id="signature">
    <div style="margin-bottom:0.9rem;font-size: 0.9rem;color: rgb(129,128,121)">Venlig hilsen / Best regards</div>
    <span style="float:left;padding-right:0.9rem;border-right: 1px solid rgb(129,128,121);font-size: 0.9rem;margin-bottom:0.5rem;">
        <div style="font-weight: bold;font-size: 1.0rem;color: rgb(129,128,121)" id="sender_name">{{c.sender_name}}</div>
        <div style="color: rgb(129,128,121)">{{c.sender_position_native}}</div>
        <div style="color: rgba(129,128,121,0.8)">{{c.sender_position_english}}</div>
    </span>
    <span style="float:left;margin-left:0.9rem;font-size: 0.9rem;">
        <div style="color: rgb(129,128,121)">Tel +45 3328 3800</div>
        <div style="color: rgb(129,128,121)" *ngIf="c.sender_telephone_direct">Dir {{c.sender_telephone_direct}}</div>
        <div style="color: rgb(129,128,121)" *ngIf="c.sender_skypeid">Skype {{c.sender_skypeid}}</div>
        <div style="color: rgb(129,128,121)">
            <span>
                <a href="https://www.facebook.com/birdlifedk"><img src="https://integration.dof.dk/assets/small/fb.png" /></a>
            </span>
            <span>
                <a href="https://www.instagram.com/danmarksfugle"><img src="https://integration.dof.dk/assets/small/instagram.png" /></a>
            </span>
            <span>
                <a href="https://www.youtube.com/user/DOFBirdlife"><img src="https://integration.dof.dk/assets/small/youtube.png" /></a>
            </span>
        </div>
    </span>
    <div style="clear:both; width: 1px; height: 1px;"></div>
    <div style="color: rgb(129,128,121)" class="logos">
        <span>
            <img style="height:100px;width:auto" src="https://integration.dof.dk/assets/small/Birdlife.jpg" />
        </span>
        <span>
            <img style="height:100px;width:auto" src="https://integration.dof.dk/assets/small/DOF_80pct.jpg" />
        </span>
    </div>
    <div style="color: rgb(129,128,121)" class="partner">
        <span style="color: rgb(129,128,121)">DOF/Birdlife Denmark</span>
        <span style="color: rgb(0,102,158);margin: 0 0.5rem;">|</span>
        <span style="color: rgba(129,128,121,0.8)">Vesterbrogade 140</span>
        <span style="color: rgb(0,102,158);margin: 0 0.5rem;" class="pipe">|</span>
        <span style="color: rgba(129,128,121,0.8)">1620 København V</span>
        <span style="color: rgb(0,102,158);margin: 0 0.5rem;">|</span>
        <span style="color: rgba(129,128,121,0.8)">
            <a target="_blank" href="https://www.dof.dk">www.dof.dk</a>
        </span>
    </div>
</div>
<div style="width:100%;height:250px" *ngIf="showexport">
    <textarea style="width:100%;height:250px" id="exporthtml">{{htmlexport}}</textarea>
    <label for="exporthtml">Kopier indholdet af denne tekstboks til dit email-programs signatur værktøj. Husk at indstille signaturen som HTML format.</label>
</div>