.card {
    margin-top:1.0rem;
    font-size: 10pt;
    font-family: Segoe UI, Verdana, Geneva, Tahoma, sans-serif;    
}

.regards {
    margin-bottom:0.9rem;
    font-size: 0.9rem;
}

.light {
    color: rgb(129,128,121)
}
.lighter {
    color: rgba(129,128,121,0.8)
}
.pipe {
    color: rgb(0,102,158);
    margin: 0 0.5rem;
}
.senderdetails_left {
    float:left;
    padding-right:0.9rem;
    border-right: 1px solid rgb(129,128,121);
    font-size: 0.9rem;
    margin-bottom:0.5rem;
}

.senderdetails_right {
    float:left;
    margin-left:0.9rem;
    font-size: 0.9rem;
}

.sendername {
    font-weight: bold;
    font-size: 1.0rem;
}
.logos {
    margin-top:0.9rem;
    width:500px;
}

.logos span{
    margin:0 0.5rem;
    height:100px;
}

.partner {
    margin-top:0.9rem;
}

.partner a{
    color: rgb(0,102,158);
}